@media screen and (max-width: 1200px)
  .content-header-provider
    &__top-wrap
      padding: 21px 15px 32px
    &__bottom-wrap
      padding: 26px 15px 12px
      .subheader-wrap
        width: 80%
  .content
    padding: 18px 15px 50px
    &__side-menu
      .casino-info
        flex-wrap: nowrap
        &__img
          flex-shrink: 0
    &__right-side
      .slots
        &__list
          justify-content: flex-start
          &-item
            margin-right: 12px
            width: 160px
            &:last-child
              margin-right: 0
            .img-wrap
              width: 160px
              height: 160px
      .faq
        &__list
          &-item
            &-title
              padding: 24px 60px 24px 30px

@media screen and (max-width: 1023px)
  .content-header-provider
    &__top-wrap
      padding: 21px 15px 25px
      .head-wrap
        margin-top: 25px
        align-items: center
        &__logo
          width: 120px
          height: 120px
          flex-shrink: 0
          margin-bottom: 0
        &__name
          margin: 0 15px 0 30px
          &-subtitle
            margin-top: 8px
    &__bottom-wrap
      padding: 15px 15px 10px
      .content-center
        justify-content: unset
      .subheader-wrap
        width: 100%
  .content
    .content-center
      flex-direction: column
    &__side-menu
      width: auto
      margin: 0 -15px
      border-radius: 0
      padding: 0
      .side-menu__list::-webkit-scrollbar
        display: none
      .side-menu__list
        display: flex
        padding: 0 15px
        width: 100vw
        flex-flow: row nowrap
        justify-content: flex-start
        overflow: scroll
        background: transparent
        border-bottom: 1px solid $gray-light
        &-item
          border-bottom: 0
          margin-right: 25px
          flex-flow: row nowrap
          &:last-child
            margin-right: 0
          &:hover
            border-bottom: 2px solid $green-default
          a
            &:before
              margin-right: 12px
        .active
          border-bottom: 2px solid $green-default
      .casino-info
        display: none
    &__right-side
      width: 100%
      margin-top: 15px
      .faq
        &__list
          &-item
            &-title
              padding: 16px 45px 13px 20px
              font-size: 15px
              &:before
                right: 20px
            &-text
              padding: 0 20px 30px

@media screen and (max-width: 767px)
  .content-header-provider
    &__top-wrap
      padding: 21px 15px 18px
      .head-wrap
        flex-wrap: wrap
        justify-content: flex-start
        align-items: center
        margin-top: 20px
        &__logo
          width: 90px
          height: 90px
        &__name
          margin: 0 0 0 22px
          max-width: 230px
          &-subtitle
            .info
              margin-left: 13px
    &__bottom-wrap
      padding: 15px 15px 0
  .content
    .inner-title
      font-size: 18px
    &__right-side
      .bonuses__more,
      .characteristics__more,
      .slots__more
        margin-bottom: -12px
        padding-top: 18px
      .characteristics,
      .bonuses,
      .slots,
      .product,
      .faq
        padding: 30px 26px
        border-radius: 2px
      .characteristics
        &__item
          flex-direction: column
          margin-bottom: 25px
          &-key
            font-size: 12px
            margin-bottom: 5px
        &__title
          margin-bottom: 25px
        &__subtitle
          font-size: 16px
          line-height: 20px
        &__txt
          margin-bottom: 25px
      .bonuses
        &__list-title
          display: none
        &__list
          &-item
            padding: 16px 0
          &-wrap
            width: 42%
            margin-right: 10px
          &-img
            margin-right: 12px
          &-name
            font-size: 14px
            line-height: 14px
          &-rate-mob
            display: flex
            font-size: 12px
            margin-top: 5px
            &:before
              width: 11px
              height: 11px
              margin: 0 5px 0 0
          &-rate
            display: none
          &-bonus
            display: none
          &-bonus-mob
            display: block
            margin-right: 10px
            margin-top: 3px
            span
              display: block
              font-size: 14px
              color: $dark
            span+span
              font-family: $font-gilroy-regular
              font-size: 12px
              color: $gray-semi
              margin-top: 1px
          &-btn
            font-size: 12px
            padding: 9px 10px 6px
      .slots
        &__list
          margin-top: 25px
          margin-right: -20px
          &-item
            width: 136px
            margin-right: 18px
            margin-bottom: 19px
            &:last-child
              margin-right: 18px
            .img-wrap
              width: 136px
              height: 136px
            .subtitle
              font-size: 12px
              color: $gray-semi
              margin-top: 0
        &__more
          margin-top: 10px
        &__info
          .slots__list
          margin-top: 0
      .product
        &__list
          margin-bottom: -20px
          flex-wrap: wrap
          &-item
            background: transparent
            padding: 0
            margin-bottom: 20px
            width: 70px
            margin-right: 27px
            text-align: center
            &:last-child
              margin-right: 27px
            .item-icon
              width: 50px
              height: 50px
              background: $light
      .faq
        &__list
          &-item
            &-title
              font-size: 14px
              padding: 16px 50px 13px 20px

@media screen and (max-width: 374px)
  .content-header-provider
    &__top-wrap
      .head-wrap
        &__logo
          width: 70px
          height: 70px
        &__name
          margin: 0 0 0 15px
          max-width: 202px
          &-title
            font-size: 18px
            line-height: 20px
          &-subtitle
            .info-icon
              flex-shrink: 0
              width: 25px
              height: 25px
              &:before
                width: 11px
                height: 7px
            .info
              font-size: 12px
              margin-left: 10px
    &__bottom-wrap
      .subheader-wrap
        &__status
          width: 48%
          .status-text
            font-size: 12px
        &__update
          text-align: right
          font-size: 12px
          width: 48%
  .content
    &__right-side
      .bonuses__more,
      .characteristics__more,
      .slots__more
        margin-bottom: -6px
      .characteristics,
      .bonuses,
      .slots,
      .product,
      .faq
        padding: 20px
      .slots
        &__list
          &-item
            width: 115px
            .img-wrap
              width: 115px
              height: 115px
      .bonuses
        &__list
          &-wrap
            width: 47%
          &-img
            margin-right: 10px
          &-bonus-mob
            width: 58px
          &-btn
            span
              display: none
      .product
        &__list
          &-item
            margin-right: 15px
            width: 66px
            &:last-child
              margin-right: 15px