$green-default: #149E4C
$green-hover: #149448
$green-pressed: #0C7838
$dark: #050A0A
$gray-dark: #363636
$gray-semi: #8b8b8b
$gray-light: #ebebeb
$light: #f8f8f8
$light-green: #F0F9F4
$white: #FFFFFF

$font-gilroy-regular: Gilroy-Regular, sans-serif
$font-gilroy-medium: Gilroy-Medium, sans-serif
$font-gilroy-semibold: Gilroy-SemiBold, sans-serif

body
  font-family: $font-gilroy-medium
  -webkit-tap-highlight-color: transparent
  overflow-x: hidden
  overscroll-behavior: none
  img
    max-width: 100%
    height: auto

h1,h2,h3
  font-weight: 500

.content-center
  max-width: 1170px
  margin: 0 auto

.btn
  font-size: 14px
  color: $white
  transition: all .4s linear
  display: inline-block
  border-radius: 2px
  text-align: center

.box-shadow
  background: $white
  box-shadow: 0 4px 20px rgba(8,40,41,.05)

.green-btn
  background-color: $green-default
  &:hover
    background-color: $green-hover

.border-btn
  color: $green-default
  border: 1px solid $gray-light
  &:hover
    border-color: $green-default

.link
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 1

.rate
  font-size: 14px
  color: $gray-semi
  &:before
    content: ""
    background: url("../img/star.svg") no-repeat 0 0/contain
    width: 16px
    height: 16px
    display: inline-block
    vertical-align: top
    margin: -1px 8px 0 0

.form-subscribe
  input[type=email]
    background: $white
    border: none
    border-radius: 2px
    padding: 18px 20px 15px
    color: $gray-dark
    margin-right: 16px
    height: 46px
    width: 76.5%
  .privacy
    margin-top: 31px
    display: block
    font-size: 12px
    color: #7f7f7f
    a
      color: $white
      &:hover
        text-decoration: underline

input[type="search" i]::-webkit-search-cancel-button
  display: none !important

input[type=search],
input[type=email]
  font-size: 14px
  font-family: $font-gilroy-regular
  border-radius: 4px
  width: 100%
  outline: none
  -webkit-appearance: none !important
  +placeholder
    font-size: 14px
    color: $gray-semi

.content-header-provider
  &__top-wrap
    background: $white
    padding: 21px 0 32px
    .breadcrumbs
      li
        display: inline-block
        margin-right: 10px
        font-size: 12px
        color: $gray-semi
        &:last-child
          &:after
            display: none
        &:after
          content: ''
          background: $gray-semi
          width: 15px
          height: 1px
          display: inline-block
          vertical-align: top
          margin: 5px 0 0 10px
        a
          color: $gray-semi
          &:hover
            text-decoration: underline
    .head-wrap
      margin-top: 23px
      display: flex
      align-items: flex-end
      &__logo
        width: 161px
        height: 161px
        margin-bottom: -74px
        img
          width: 100%
      &__name
        margin-top: 4px
        margin-left: 37px
        &-title
          font-size: 20px
          color: $dark
        &-subtitle
          margin-top: 13px
          display: flex
          align-items: center
          .info-icon
            width: 35px
            height: 35px
            border-radius: 50%
            background: rgba($green-default,.1)
            display: flex
            justify-content: center
            align-items: center
            &:before
              content: ""
              background: url("../img/check-icon.svg") no-repeat 0 0/contain
              width: 13px
              height: 9px
          .info
            font-size: 14px
            color: $gray-semi
            margin-left: 20px
  &__bottom-wrap
    padding: 26px 0 12px
    background: $light
    .content-center
      display: flex
      justify-content: flex-end
    .subheader-wrap
      width: 83%
      display: flex
      align-items: center
      justify-content: space-between
      &__status
        display: flex
        align-items: center
        .status-text
          font-family: $font-gilroy-regular
          font-size: 14px
          color: $gray-semi
      &__update
        font-size: 14px
        color: $gray-semi
        font-family: $font-gilroy-regular

.content
  padding: 18px 0 50px
  background: $light
  .inner-title
    font-size: 20px
    color: $dark
    margin-bottom: 21px
    letter-spacing: -0.015em
  .content-center
    display: flex
    justify-content: space-between
    align-items: flex-start
  &__side-menu
    width: 24%
    background: $white
    box-shadow: 0 4px 20px rgba(8,40,41,.05)
    border-radius: 6px
    padding: 0 20px 20px
    .side-menu__list
      &-item
        border-bottom: 1px solid $gray-light
        a
          font-size: 14px
          color: $dark
          display: block
          padding: 20px 0 17px
          position: relative
          outline: none
          width: max-content
          &:before
            content: ''
            mask-repeat: no-repeat
            mask-size: cover
            background-color: #BFBFBF
            display: inline-block
            vertical-align: text-top
            margin-right: 15px
            margin-top: -1px
          &:hover
            color: $green-default
            &:before
              background-color: $green-default
      .active
        a
          color: $green-default
          &:before
            background-color: $green-default
      .item-1
        a
          &:before
            mask-image: url("../img/aside-icon-2.svg")
            width: 14px
            height: 15px
      .item-2
        a
          &:before
            mask-image: url("../img/aside-icon-10.svg")
            width: 15px
            height: 14px
      .item-3
        a
          &:before
            mask-image: url("../img/aside-icon-8.svg")
            width: 15px
            height: 15px
      .item-4
        a
          &:before
            mask-image: url("../img/aside-icon-11.svg")
            width: 15px
            height: 15px
    .casino-info
      margin-top: 20px
      display: flex
      align-items: center
      flex-wrap: wrap
      &__img
        width: 38px
        height: 38px
        border-radius: 50%
        overflow: hidden
      &__name
        margin-left: 15px
        .name
          font-size: 14px
          color: $dark
  &__right-side
    width: 74.5%
    .bonuses__more,
    .characteristics__more,
    .slots__more
      margin: 28px -30px 0
      display: flex
      justify-content: space-between
      border-top: 1px solid $gray-light
      padding: 28px 30px 0
      .show-all
        font-size: 14px
        color: $green-default
        cursor: pointer
        &:before
          content: ''
          mask-image: url("../img/arrow-down.svg")
          mask-size: contain
          mask-repeat: no-repeat
          background-color: $green-default
          width: 14px
          height: 9px
          display: inline-block
          vertical-align: top
          margin: 3px 12px 0 0
    .characteristics,
    .bonuses,
    .slots,
    .product,
    .faq
      background: $white
      box-shadow: 0 4px 20px rgba(8,40,41,.05)
      border-radius: 6px
      padding: 30px 30px 30px
      margin-bottom: 20px
      &__info
        display: none
      .toggle-list
        display: block
      .toggle-arrow
        &:before
          transform: rotate(180deg)
    .characteristics
      padding-bottom: 30px
      &__title
        margin-bottom: 40px
      &__item
        display: flex
        font-size: 14px
        margin-bottom: 35px
        &-key
          min-width: 31%
          color: $gray-semi
        &-value
          color: $dark
        a
          color: $dark
          &:hover
            text-decoration: underline
      &__subtitle
        font-size: 18px
        line-height: 26px
        color: $dark
      &__txt
        margin-top: 12px
        font-family: $font-gilroy-regular
        font-size: 14px
        line-height: 20px
        color: $gray-semi
        margin-bottom: 35px
      &__more
        margin-top: 15px
    .bonuses
      &__list-title
        display: flex
        justify-content: space-between
        margin-top: 34px
        li
          font-size: 12px
          text-transform: uppercase
          color: $gray-semi
          letter-spacing: 0.05em
          &:nth-child(1)
            width: 35%
          &:nth-child(2)
            width: 26%
          &:nth-child(3)
            width: 99px
            flex-shrink: 0
      &__list
        margin-top: 10px
        &-item
          padding: 21px 0
          display: flex
          border-bottom: 1px solid $gray-light
          justify-content: space-between
          align-items: center
        &-wrap
          display: flex
          align-items: center
          width: 27%
        &-img
          width: 35px
          height: 35px
          border-radius: 50%
          overflow: hidden
          margin-right: 15px
          flex-shrink: 0
        &-name
          font-size: 16px
          color: $dark
          margin-top: 3px
        &-rate-mob
          display: none
        &-rate
          width: 15%
          margin-top: 3px
        &-bonus
          font-size: 16px
          color: $dark
          width: 36%
          margin-top: 2px
        &-bonus-mob
          display: none
        &-btn
          padding: 13px 21px 11px
      &__info
        .bonuses__list
          margin-top: 0
      &__more
        margin-top: -1px
    .slots
      padding-bottom: 27px
      &__list
        margin-top: 30px
        display: flex
        flex-wrap: wrap
        &-item
          position: relative
          width: 180px
          margin-right: 30px
          margin-bottom: 27px
          &:nth-child(4n)
            margin-right: 0
          &:hover
            .title
              color: $green-default
          .img-wrap
            width: 180px
            height: 180px
            border-radius: 4px
          .title
            margin-top: 13px
            font-size: 16px
            color: $dark
            letter-spacing: 0.02em
          .subtitle
            margin-top: 3px
            font-family: $font-gilroy-regular
            font-size: 14px
            color: $dark
      &__info
        .slots__list
          margin-top: 0
      &__more
        margin-top: 15px
    .product
      &__list
        margin-top: 24px
        display: flex
        &-item
          display: flex
          flex-direction: column
          align-items: center
          margin-right: 80px
          &:last-child
            margin-right: 0
          p
            font-size: 14px
            color: $dark
          .item-icon
            width: 60px
            height: 60px
            border-radius: 50%
            background: $white
            display: flex
            justify-content: center
            align-items: center
            margin-bottom: 15px
            background: $light
            &:before
              content: ""
          &:nth-child(1)
            .item-icon
              &:before
                background: url("../img/product-icon-1.svg") no-repeat 0 0/contain
                width: 28px
                height: 21px
          &:nth-child(2)
            .item-icon
              &:before
                background: url("../img/product-icon-2.svg") no-repeat 0 0/contain
                width: 16px
                height: 28px
          &:nth-child(3)
            .item-icon
              &:before
                background: url("../img/product-icon-3.svg") no-repeat 0 0/contain
                width: 28px
                height: 27px
          &:nth-child(4)
            .item-icon
              &:before
                background: url("../img/product-icon-4.svg") no-repeat 0 0/contain
                width: 28px
                height: 28px
    .faq
      &__list
        margin-top: 30px
        &-item
          background: $white
          list-style: none
          border-radius: 3px
          border: 1px solid $gray-light
          cursor: pointer
          margin-bottom: 10px
          summary::-webkit-details-marker
            display: none
          > summary
            list-style: none
          &[open]
            > summary:before
              transform: rotate(180deg)
          &-title
            font-size: 16px
            color: $dark
            outline: none
            position: relative
            padding: 24px 30px
            display: flex
            align-items: center
            height: 100%
            &:before
              content: ""
              mask-image: url("../img/arrow-down.svg")
              mask-size: 14px 9px
              background-repeat: no-repeat
              background-color: $green-default
              width: 14px
              height: 9px
              display: block
              position: absolute
              top: 45%
              right: 28px
          &-text
            font-family: $font-gilroy-regular
            font-size: 14px
            line-height: 20px
            color: $gray-semi
            padding: 0 30px 24px