.content-header-provider
  .content-header-provider__top-wrap
    .content-center
      ul.breadcrumbs
        li
          a(href="#") Home Page
        li
          a(href="#") Providers
        li Ainsworth Game Technology
      .head-wrap
        .head-wrap__logo
          img(src="img/review_company-logo.png" alt="Ainsworth Game Technology")
        .head-wrap__name
          h1.head-wrap__name-title Ainsworth Game Technology
          .head-wrap__name-subtitle
            .info-icon
            .info 3 245 Casino with Skrill
  .content-header-provider__bottom-wrap
    .content-center
      .subheader-wrap
        .subheader-wrap__status
          .status-text With Curasao lisense
        .subheader-wrap__update Last updated 13.06.2020
.content
  .content-center
    aside.content__side-menu
      ul.side-menu__list
        li.side-menu__list-item.item-1.active
          a(href="#") About
        li.side-menu__list-item.item-2
          a(href="#") Best Casinos
        li.side-menu__list-item.item-3
          a(href="#") Slots
        li.side-menu__list-item.item-4
          a(href="#") Product
      .casino-info
        .casino-info__img
          img(src="img/review_company-logo.png" alt="")
        .casino-info__name
          .name Ainsworth Game Technology
    .content__right-side
      .characteristics
        h2.inner-title.characteristics__title About Ainsworth Game Technology
        .characteristics__item
          p.characteristics__item-key Website:
          a(href="https://www.agtslots.com" target="_blank").characteristics__item-value www.agtslots.com
        .characteristics__item
          p.characteristics__item-key Withdrawal Times
          .characteristics__item-value
            p Football1x2 Ltd
        .characteristics__subtitle Ainsworth Game Technology Review
        .characteristics__txt.
          1x2gaming is a subsidiary of the 1×2 Network, a UK-based group
          of companies that focuses on the development of HTML5 sports
          games, table games, and slots. Headquartered in Brighton and
          Hove, 1x2gaming maintains a presence in its native United
          Kingdom, as well as Malta, Gibraltar.
        .characteristics__info
          .characteristics__item
            p.characteristics__item-key Update
            .characteristics__item-value
              p 1 days ago
          .characteristics__item
            p.characteristics__item-key Games
            .characteristics__item-value
              p 45
          .characteristics__item
            p.characteristics__item-key Minimum deposit
            .characteristics__item-value
              p 10 EUR/USD/GBP
        .characteristics__more
          .show-all View All
      .bonuses
        h2.inner-title.bonuses__title Best AGT Casinos
        ul.bonuses__list-title
          li Name casino
          li welcome bonus
          li action
        ul.bonuses__list
          li.bonuses__list-item
            .bonuses__list-wrap
              .bonuses__list-img
                img(src="img/top-casino-2.png" alt="")
              .mob-wrap
                .bonuses__list-name Betsson Casino
                .bonuses__list-rate-mob.rate 9.25 / 10
            .bonuses__list-rate.rate 9.25 / 10
            .bonuses__list-bonus $ 4000 + 200 Free Spins
            .bonuses__list-bonus-mob
              span $ 4000
              span 200 Free spins
            a(href="#").btn.green-btn.bonuses__list-btn Play #[span now]
          li.bonuses__list-item
            .bonuses__list-wrap
              .bonuses__list-img
                img(src="img/top-casino-1.png" alt="")
              .mob-wrap
                .bonuses__list-name Betsson
                .bonuses__list-rate-mob.rate 9.25 / 10
            .bonuses__list-rate.rate 9.25 / 10
            .bonuses__list-bonus $ 4000 + 200 Free Spins
            .bonuses__list-bonus-mob
                span $ 4000
                span 200 Free spins
            a(href="#").btn.green-btn.bonuses__list-btn Play #[span now]
          li.bonuses__list-item
            .bonuses__list-wrap
              .bonuses__list-img
                img(src="img/top-casino-3.png" alt="")
              .mob-wrap
                .bonuses__list-name Betsson
                .bonuses__list-rate-mob.rate 9.25 / 10
            .bonuses__list-rate.rate 9.25 / 10
            .bonuses__list-bonus $ 4000 + 200 Free Spins
            .bonuses__list-bonus-mob
                span $ 4000
                span 200 Free spins
            a(href="#").btn.green-btn.bonuses__list-btn Play #[span now]
          li.bonuses__list-item
            .bonuses__list-wrap
              .bonuses__list-img
                img(src="img/top-casino-4.png" alt="")
              .mob-wrap
                .bonuses__list-name Betsson Casino
                .bonuses__list-rate-mob.rate 9.25 / 10
            .bonuses__list-rate.rate 9.25 / 10
            .bonuses__list-bonus $ 4000 + 200 Free Spins
            .bonuses__list-bonus-mob
                span $ 4000
                span 200 Free spins
            a(href="#").btn.green-btn.bonuses__list-btn Play #[span now]
        .bonuses__info
          ul.bonuses__list
            li.bonuses__list-item
              .bonuses__list-wrap
                .bonuses__list-img
                  img(src="img/top-casino-2.png" alt="")
                .mob-wrap
                  .bonuses__list-name Betsson Casino
                  .bonuses__list-rate-mob.rate 9.25 / 10
              .bonuses__list-rate.rate 9.25 / 10
              .bonuses__list-bonus $ 4000 + 200 Free Spins
              .bonuses__list-bonus-mob
                span $ 4000
                span 200 Free spins
              a(href="#").btn.green-btn.bonuses__list-btn Play #[span now]
            li.bonuses__list-item
              .bonuses__list-wrap
                .bonuses__list-img
                  img(src="img/top-casino-1.png" alt="")
                .mob-wrap
                  .bonuses__list-name Betsson Casino
                  .bonuses__list-rate-mob.rate 9.25 / 10
              .bonuses__list-rate.rate 9.25 / 10
              .bonuses__list-bonus $ 4000 + 200 Free Spins
              .bonuses__list-bonus-mob
                span $ 4000
                span 200 Free spins
              a(href="#").btn.green-btn.bonuses__list-btn Play #[span now]
            li.bonuses__list-item
              .bonuses__list-wrap
                .bonuses__list-img
                  img(src="img/top-casino-3.png" alt="")
                .mob-wrap
                  .bonuses__list-name Betsson Casino
                  .bonuses__list-rate-mob.rate 9.25 / 10
              .bonuses__list-rate.rate 9.25 / 10
              .bonuses__list-bonus $ 4000 + 200 Free Spins
              .bonuses__list-bonus-mob
                span $ 4000
                span 200 Free spins
              a(href="#").btn.green-btn.bonuses__list-btn Play #[span now]
        .bonuses__more
          .show-all View All
      .slots
        h2.inner-title.slots__title Similar slots from AGT
        ul.slots__list
          li.slots__list-item
            a(href="#").link
            .img-wrap
              img(src="img/slot-1.jpg" alt="Dead or Alive 2")
            p.title Dead or Alive 2
            p.subtitle Pragmatic
          li.slots__list-item
            a(href="#").link
            .img-wrap
              img(src="img/slot-2.jpg" alt="Dragon Chase")
            p.title Dragon Chase
            p.subtitle Pragmatic
          li.slots__list-item
            a(href="#").link
            .img-wrap
              img(src="img/slot-3.jpg" alt="Pirates")
            p.title Pirates
            p.subtitle Pragmatic
          li.slots__list-item
            a(href="#").link
            .img-wrap
              img(src="img/slot-4.jpg" alt="Cleopatra")
            p.title Cleopatra
            p.subtitle Pragmatic
          li.slots__list-item
            a(href="#").link
            .img-wrap
              img(src="img/slot-1.jpg" alt="Dead or Alive 2")
            p.title Dead or Alive 2
            p.subtitle Pragmatic
          li.slots__list-item
            a(href="#").link
            .img-wrap
              img(src="img/slot-2.jpg" alt="Dragon Chase")
            p.title Dragon Chase
            p.subtitle Pragmatic
          li.slots__list-item
            a(href="#").link
            .img-wrap
              img(src="img/slot-3.jpg" alt="Pirates")
            p.title Pirates
            p.subtitle Pragmatic
          li.slots__list-item
            a(href="#").link
            .img-wrap
              img(src="img/slot-4.jpg" alt="Cleopatra")
            p.title Cleopatra
            p.subtitle Pragmatic
          li.slots__list-item
            a(href="#").link
            .img-wrap
              img(src="img/slot-1.jpg" alt="Dead or Alive 2")
            p.title Dead or Alive 2
            p.subtitle Pragmatic
          li.slots__list-item
            a(href="#").link
            .img-wrap
              img(src="img/slot-2.jpg" alt="Dragon Chase")
            p.title Dragon Chase
            p.subtitle Pragmatic
          li.slots__list-item
            a(href="#").link
            .img-wrap
              img(src="img/slot-3.jpg" alt="Pirates")
            p.title Pirates
            p.subtitle Pragmatic
          li.slots__list-item
            a(href="#").link
            .img-wrap
              img(src="img/slot-4.jpg" alt="Cleopatra")
            p.title Cleopatra
            p.subtitle Pragmatic
        .slots__info
          ul.slots__list
            li.slots__list-item
              a(href="#").link
              .img-wrap
                img(src="img/slot-1.jpg" alt="Dead or Alive 2")
              p.title Dead or Alive 2
              p.subtitle Pragmatic
            li.slots__list-item
              a(href="#").link
              .img-wrap
                img(src="img/slot-2.jpg" alt="Dragon Chase")
              p.title Dragon Chase
              p.subtitle Pragmatic
            li.slots__list-item
              a(href="#").link
              .img-wrap
                img(src="img/slot-3.jpg" alt="Pirates")
              p.title Pirates
              p.subtitle Pragmatic
            li.slots__list-item
              a(href="#").link
              .img-wrap
                img(src="img/slot-4.jpg" alt="Cleopatra")
              p.title Cleopatra
              p.subtitle Pragmatic
        .slots__more
          .show-all Show All
      .product
        h2.inner-title.product__title Product
        ul.product__list
          li.product__list-item
            .item-icon
            p Desktop
          li.product__list-item
            .item-icon
            p Mobile
          li.product__list-item
            .item-icon
            p Jackpot
          li.product__list-item
            .item-icon
            p Table
      .faq
        h2.inner-title.faq__title FAQ
        .faq__list
          details.faq__list-item
            summary.faq__list-item-title Is Visa a preferred method of payment?
            p.faq__list-item-text.
              There are some warning signs if you're concerned that you or
              someone you know may have a gambling addiction. If you're hiding
              your habit from other people, maxing out your bank account and
              getting into debt as a result of your real money gambling the
              chances are you may be addicted. Likewise, if you're bunking off
              work to gamble, sneaking around to gamble, and thinking about real
              money gaming 24/7 the likelihood is your hobby has turned into a
              habit and you should seek help.
          details.faq__list-item
            summary.faq__list-item-title.
              What is the difference between a VISA Debit Card and a VISA Credit Card?
            p.faq__list-item-text.
              The best new casinos added to our listing, including detailed
              casino reviews and ratings, bonuses, promotions, and
              experiences by real players right at your fingertips. Here you
              can find the top online casinos we have included in our database
              just recently. The best new casinos added to our listing,
              including detailed casino reviews and ratings, bonuses,
              promotions, and experiences by real players right at your
              fingertips. Here you can find the top online casinos we have
              included in our database just recently. The best new casinos
              added to our listing, including detailed casino reviews and
              ratings, bonuses, promotions, and experiences by real players
              right at your fingertips. Here you
          details.faq__list-item
            summary.faq__list-item-title.
              Is Visa safe to use at online casinos?
            p.faq__list-item-text.
              Test text
          details.faq__list-item
            summary.faq__list-item-title.
              What happens if their system detects a fraudulent payment to a VISA casino online?
            p.faq__list-item-text.
              Test text